/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 1100px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #970747;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #970747;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    color: #555;
}

a {
    color: #970747;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.no-data {
    text-align: center;
    padding: 10px;
    color: #777;
}
.replied-button {
    color: gray;
    text-decoration: none;
    cursor: default;
}
.replied-label {
    color: gray;
    font-weight: bold;
}

.no-data {
    text-align: center;
    color: red;
    font-style: italic;
}
