/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #970747;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 10px 0;
}

strong {
    font-weight: bold;
}

h2, h3 {
    margin-top: 30px;
    color: #970747;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    background-color: #970747;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #970747;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #970747;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.form-group {
    margin-bottom: 15px;
}
